@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #4f6df5;
  --color-secondary: #f59e0b;

  --color-bg: #f3f3f3;
  --color-text-dark: #111111;
  --color-text-light: #6b7280;
  --color-border: #e5e7eb;

  /* Fonts */
  --font-rubik: var(--font-rubik);
  --font-open-sans: var(--font-open-sans);
}